# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Home Assistant specific
home-assistant.log
deps/
storage/

# VS Code settings
.vscode/

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Test / coverage files
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/

# Misc
.DS_Store
